.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}



/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Articles */

#article {
  border-top-style: solid;
  border-top-width: 2px;
  border-color: red;
  margin: 5px 5px 5px 5px;
  background-color: rgba(254,254,254,0.85);
  font-family: 'Quicksand', sans-serif;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Glegoo', serif;
}

h6 {
  color:rgb(131, 88, 9);
  font-weight: 900;
}

em {
  color:rgb(131, 88, 9);
}

#article img {
  max-width:100%;
  max-height:100%;
}

/* Style Front End*/

body {
  background-color: rgba(254,254,254,0);
}

ul.navbar-nav {
  position: relative;
  left: -50px;
  top: -10px;
}

.articles {
  position: relative;
  top: 100px;
}

.navbar-brand > img{
  position: relative;
  left: 60px;
}


ul.nav.navbar-nav > li {
  border-top-style: solid;
  border-top-width: 2px;
  border-color: red;
  margin: 5px 5px 5px 5px;
  background-color: rgba(254,254,254,1);
  font-family: 'Quicksand', sans-serif;
  
}


.footer {
  background-color: rgba(254,254,254,0.5);
  border: 0px;
  padding-top: 19px;
  color: #777;
}

html { 
  background: url(/../../images/grafico.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-buttons {
  padding-right:15px;
}

.navbar-default {
  background-color: rgba(248, 248, 248, 0);
  border-color: rgba(248, 248, 248, 0);
}


