
<div class="row">

    <div ng-repeat="product in products">
      <div class="col-md-4" id="article">
        <h3> {{product.title}} </h3>
        <h6> {{product.venue}} </h6>
        <img ng-src= "{{product.images.full}}"/> 
          <br>
          <span>
            <em> {{product.date}} </em>
            <em class='pull-right'>{{ product.price }} </em>
          </span>
          <br>
        <p> {{product.content | limitTo:160}} </p>
      </div>
    </div>
</div>
  <div class='row'>
  
  <h2> My articles </h2>

  <!-- Article input -->
  <form role="form" ng-submit="addArticle()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="article" placeholder="What's going on?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

  <!-- Artilce list -->
  <p class="input-group" ng-repeat="article in articles">
    <input type="text" ng-model="article" class="form-control">
    <span class="input-group-btn">
    <button class="btn btn-danger" ng-click="removeArticle($index)" aria-label="Remove">X</button>
    </span>
  </p>
</div>

